$brColorlgradient: linear-gradient(45deg, #23232b94, #58554eab);
$brColorlgradient2: linear-gradient(45deg, #4c3d38, #55473e, #8f7262, #deb48e);
$brColorlgradient3: linear-gradient(45deg, #ba5b25, #deb48e);
$brColorlgradient4: linear-gradient(45deg, #deb48e, #ba5b25);
$brColorItem: linear-gradient(45deg, #23232b, #58554e);

$primaryColor: #ba5b25;
$primaryColor1: #ba967a;

$textColor: rgba(255, 255, 255, 0.796);
